PORT=
TELEGRAM_BOT_TOKEN=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

REDIS_HOST = localhost
REDIS_PORT = 6379
REDIS_USERNAME =
REDIS_PASSWORD =
REDIS_KEY_PREFIX =

QUEUE_CONCURRENCY = 1
DB_ENCRYPT_KEY=
SELENIUM_HUB_URL=